{% extends 'base.html' %}

{% block title %} Server Health Check {% endblock %}
{% block header %} Delete Server {% endblock %}

{% block content %}
  <form method="post" class="form-group d-flex flex-column gap-2 align-items-center" style="max-width: 600px; margin: auto;">
    <p style="margin-top: 2rem;">
      Are you sure you want to delete "{{ server['server_name'] }}"?</p>
    <input class="btn btn-danger" type="submit" value="Delete" 
      onclick="return confirm('Are you sure?');">

    <a class="btn btn-secondary w-100" href="/servers/">Cancel</a>
  </form>
{% endblock %}