{% extends 'base.html' %}

{% block title %} Server Health Check {% endblock %}
{% block header %} Servers List
   {% if current_user.is_authenticated %}
   <span class="d-flex justify-content-end" style="margin-top:-30px">
     <a class="btn btn-outline-danger fs-sm" href="/servers/create">Create Server</a>
   </span>
  {% endif %}
{% endblock %}

{% block content %}
  {% if current_user.is_admin %}
    {% for server in servers %}
      <div class="d-flex justify-content-between align-items-start flex-column mb-3">
        <h4>{{ server['server_name'] }} 
          <span style="font-size: 0.8rem;">
            by {{ server['owner']['username'] }},
            on: {{ server['created'].strftime('%Y-%m-%d %H:%M') if server['created'] else ''}} 
          </span>
          <div>
            <span style="font-size: 0.8rem;">{{ server['username'] }}</span>
            <span style="font-size: 0.8rem;">{{ server['password'] }}</span>
          </div>
        </h4>
          <div class="mb-2">
            <small>server ip: {{ server['server_ip'] }}</small>
          </div>   
          <div>
            <a class="btn btn-outline-primary fs-sm" href="/servers/{{ server['id'] }}/edit">
              Edit</a>
            <a class="btn btn-outline-danger fs-sm" href="/servers/{{ server['id'] }}/delete">
              Delete</a>
          </div>
      </div>
      {% if not loop.last %} <hr> {% endif %}
    {% endfor %}
  {% else %}
  {% for server in servers %}
    {% if current_user.id == server['owner_id'] %}
      <div class="d-flex justify-content-between align-items-start flex-column mb-3">
        <h4>{{ server['server_name'] }} 
          <span style="font-size: 0.8rem;">
            by {{ server['owner']['username'] }},
            on: {{ server['created'].strftime('%Y-%m-%d %H:%M') if server['created'] else ''}} 
          </span>
        </h4>
          <div class="mb-2">
            <small>server ip: {{ server['server_ip'] }}</small>
          </div> 
        <div>
          <a class="btn btn-outline-primary fs-sm" 
              href="/servers/{{ server['id'] }}/edit">
            Edit</a>
          <a class="btn btn-outline-danger fs-sm" 
              href="/servers/{{ server['id'] }}/delete">
            Delete</a>
        </div>
      </div>
        {% if not loop.last %} <hr> {% endif %}
        {% endif %}
      {% endfor %}
  {% endif %}
{# pagenation: target_app, page, total_pages, per_page, page_length, start_page, end_page #}
  {% with 
    target_app='servers', 
    page=page, 
    total_pages=total_pages, 
    per_page=per_page, 
    page_length=page_len, 
    start_page=start_page, 
    end_page=end_page %}
      {% include 'auth/pagenation.html' with context %}
  {% endwith %}
{% endblock %}